:root {
  --c-ma-bg: #fff;
  --c-ma-border: #dee2e6;
  --c-ma-btn-bg-disabled: var(--c-ma-dark);
  --c-ma-btn-bg-hover: #00738f;
  --c-ma-btn-bg-secondary: var(--c-ma-secondary);
  --c-ma-btn-bg: var(--c-ma-primary);
  --c-ma-btn-disabled: #ccc;
  --c-ma-btn: #fff;
  --c-ma-link: #0000ee;
  --c-ma-nav-bg: #f9faf9;
  --c-ma-nav-tab-bg: var(--c-ma-bg);
  --c-ma-primary: #0085a6;
  --c-ma-secondary: #f0f0ea;
  --c-ma-text: #333;

  // Font family
  --f-ma: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  // Padding
  --p-ma-btn: 0.375rem 0.75rem;

  // Border Radius
  --r-ma-btn-border-radius: 0.25rem;

  // Icons
  --i-ma-close: url("data:image/svg+xml,<svg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'><path d='M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z' /></svg>");
  --i-ma-back: url("data:image/svg+xml,<svg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z'/></svg>");
}

.dark {
  --c-ma-bg: #3b3b3b;
  --c-ma-border: #777a7c;
  --c-ma-btn-bg-disabled: var(--c-ma-dark);
  --c-ma-btn-bg-hover: #cfcfcf;
  --c-ma-btn-bg-secondary: var(--c-ma-secondary);
  --c-ma-btn-bg: var(--c-ma-primary);
  --c-ma-btn-disabled: var(--c-ma-secondary);
  --c-ma-btn: var(--c-ma-bg);
  --c-ma-link: #00beee;
  --c-ma-nav-bg: #343434;
  --c-ma-nav-tab-bg: var(--c-ma-bg);
  --c-ma-primary: #d8d8d8;
  --c-ma-secondary: #5c5c5c;
  --c-ma-text: #f7f7f7;
}

.ma-container {
  font-family: var(--f-ma);
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9998;
  backdrop-filter: blur(5px);
}

.ma-modal {
  background-color: var(--c-ma-bg);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.25rem;
  min-width: 200px;
  max-height: 80%;
  z-index: 9999;
  color: var(-c-ma-text);
  display: flex;
  flex-direction: column;
  font-size: 1em;

  &--sm {
    max-width: 300px;
  }

  &--m {
    max-width: 500px;
  }

  &--lg {
    max-width: 800px;
  }

  &.modal-xlarge,
  &--xl {
    max-width: 90%;
  }

  &--xxl {
    max-height: 100%;
    max-width: 100%;
    border-radius: 0rem;
    box-shadow: none;
  }

  &__link {
    color: var(--c-ma-link);
  }

  &__header {
    padding: 1rem;
    background: var(--ugb-color-bg-sidenav);
    border-bottom: 1px solid var(--c-ma-border) !important;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__header-elements-left {
    display: flex;
    gap: .5rem;
  }

  &__header-btn-container {
    display: flex;
    gap: .5rem;
  }

  &__title {
    font-size: 1.1em;
    margin: 0 0.2rem 0 0;
  }

  .modal-body,
  &__body {
    flex: 1 1 auto;
    overflow-y: auto;
    padding: 1rem;
  }

  .modal-footer,
  &__footer {
    display: flex;
    justify-content: end;
    padding: 0.75rem 1rem;
    gap: 0.4rem;
    border-bottom-left-radius: calc(0.3rem - 1px);
    border-bottom-right-radius: calc(0.3rem - 1px);

    &.border-top,
    &--border-top {
      border-top: 1px solid var(--c-ma-border);
    }
  }

  // Header modal buttons and icons

  &__close,
  &__back,
  &__extra-header {
    transition: color 0.3s;
    &:not(.ma-btn) {
      color: var(--modal-color-header-btn);
      cursor: pointer;
    }
    &:hover {
      color: var(--modal-color-header-btn-hover);
    }
    border: none;
  }

  &__close,
  &__back {
    mask-repeat: no-repeat;
    background-color: var(--c-ma-text);
    padding: 0.45rem;
    &:hover {
      background-color: var(--c-ma-primary);
    }
  }

  &__close {
    -webkit-mask-image: var(--i-ma-close);
    mask-image: var(--i-ma-close);
  }

  &__back {
    -webkit-mask-image: var(--i-ma-back);
    mask-image: var(--i-ma-back);
  }

  &__extra-header {
    background: none;
    color: var(--c-ma-text);
    font-size: 1rem;
  }

}

// Buttons

.ma-btn {
  background: var(--c-ma-btn-bg);
  border-radius: var(--r-ma-btn-border-radius);
  border-style: solid;
  border-width: 1px;
  border-color: var(--c-ma-primary);
  color: var(--c-ma-btn);
  padding: var(--p-ma-btn);
  position: relative;
  font-weight: 600;
  font-size: 0.8em;

  &:hover {
    background-color: var(--c-ma-btn-bg-hover);
    border-color: var(--c-ma-btn-bg-hover);
    cursor: pointer;
  }

  &:disabled {
    background-color: var(--c-ma-btn-bg-disabled);
    color: var(--c-ma-btn-disabled);
  }

  &--secondary {
    background-color: transparent;
    color: var(--c-ma-primary);
    border: none;

    &:hover {
      background-color: var(--c-ma-secondary);
      color: var(--c-ma-text);
      border-color: var(--c-ma-secondary);
      cursor: pointer;
    }
  }
}

// Input
label {
  display: block;
  font-size: .8em;
  font-weight: 500;
  padding: 1rem .1rem .5rem;
}

.ma-answer {
  padding: 0.5rem 1rem;
  margin: 0rem 0rem 1rem;
  border-radius: 0.25rem;
  border: 2px solid var(--c-ma-secondary) !important;
  background-color: var(--c-ma-bg);
  color: var(--c-ma-text);
  &::placeholder {
    color: var(--c-ma-text);
  }
}

// Nav tabs

.ma-nav {
  margin: 0rem;

  &__list {
    background-color: var(--c-ma-nav-bg);
    border-bottom: 1px solid var(--c-ma-border);
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    display: flex;
    list-style-type: none;
    margin: 0rem;
    padding: .5rem 0rem 0rem;
  }

  &__tab {
    font-size: .8em;
    background-color: var(--c-ma-nav-bg);
    border: 1px solid var(--c-ma-nav-bg);
    border-bottom: none;
    color: var(--c-ma-primary);
    cursor: pointer;
    margin: 0rem 0rem -.1rem;
    padding: .5rem 1rem;
    text-decoration: none;

    &--active {
      background-color: var(--c-ma-nav-tab-bg);
      border: 1px solid var(--c-ma-border);
      border-bottom: 2px solid var(--c-ma-nav-tab-bg);
      border-top-left-radius: .25rem;
      border-top-right-radius: .25rem;
      color: var(--c-ma-text);
      cursor: default;
    }
  }
}

.hidden {
  display: none;
}

// Keyframes

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
