// Buttons

.ma-btn {
  background: var(--color-primary);
  border-radius: var(--border-radius-btn);
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-primary);
  color: var(--color-on-primary);
  padding: var(--padding-btn);
  position: relative;
  font-weight: 600;
  font-size: 0.8em;
  transition: background-color var(--transition-time), border-color var(--transition-time), color var(--transition-time), filter var(--transition-time);

  &:hover {
    filter: brightness(95%);
    cursor: pointer;
  }

  &:disabled {
    background-color: var(--color-disabled);
    border-color: var(--color-disabled);
    color: var(--color-on-disabled);

    &:hover {
      filter: none;
      cursor: default;
    }
  }

  &--secondary {
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);
    color: var(--color-on-secondary);

    &:hover {
      filter: brightness(95%);
    }
  }
}
